<ul>
    <h1>Group Members</h1>
    <li>
        <ul>
            <h3>Kyle Apsey</h3>
            <li>Favorite Food: sweet potato fries</li>
            <li>Inspirational Quote: <em>"Live life like you're Jeff Goldblum"</em> </li>
            <li>Pets: Kiki and BabyCat</li>
        </ul>
    </li>
    <li>
        <ul>
            <h3>Hilary Wilson</h3>
            <li>Favorite Food: cream cheese and salmon</li>
            <li>Inspirational Quote: <em>"It is what it is..."</em> </li>
            <li>Pets: Mildred Woofson</li>
        </ul>
    </li>
    <li>
        <ul>
            <h3>Christian Van De Wiele</h3>
            <li>Favorite Food: pork belly</li>
            <li>Inspirational Quote: <em>"That's like, your opinion, man"</em> </li>
            <li>Pets: Syd</li>
        </ul>
    </li>
</ul>